   .active__link:focus {
    outline: 2px solid #7943A4;
    padding: 2px 6px 8px 6px;
   }
   
   .active__link:hover, .active__link:active {
    color: #C283F3;
    outline: none;
   }
   /*header*/
   
   .top__link--last:hover::before, .top__link--last:active::before {
    content: url('../img/icons/enterpurple.svg');
    width: 17px;
    outline: none;
   }
   
   .bottom__button:active::after {
    margin-top: 7px;
    margin-bottom: 0;
    border-top: 1px solid #7943a4;
    border-right: 1px solid #7943a4;
    border-bottom: none;
    border-left: none;
    transition: all 0.3s ease-in-out;
   }
   
   .bottom__button:hover::after {
    margin-bottom: 0;
    border-color: #9d5cd0;
    transition: border-color 0.3s ease-in-out;
    cursor: pointer;
   }
   
   .bottom__content--item:hover {
    border: 2px solid #9d5cd0;
    cursor: pointer;
   }
   
   .bottom__content--item:active {
    border: none;
   }
   
   .bottom__link:focus {
    outline: none;
   }
   
   .bottom__link:active {
    width: 220px;
    height: 40px;
    background-color: #9d5cd0;
    border: 2px solid #D1A9F0;
    opacity: 0.4;
   }
   
   .bottom__content:hover .simplebar-scrollbar {
    background: #7943a4;
   }
   
   .bottom__input:focus {
    outline: 2px solid #7943A4;
    padding: 3px 4px 5px 8px;
   }
   
   .bottom__search:focus svg {
    outline: 2px solid #7943A4;
   }
   
   .bottom__input:hover {
    border-bottom: 1px solid #C283F3;
   }
   /*gallery*/
   
   .swiper-button-next:focus, .swiper-button-prev:focus {
    border: 2px solid #7943A4;
    background-color: #cecece;
    border-radius: 100px;
    outline: none;
   }
   
   .swiper-button-prev:focus:after, .swiper-button-next:focus:after {
    font-size: smaller;
    color: #000000;
   }
   
   .swiper-button-next:hover, .swiper-button-prev:hover {
    border: none;
    background-color: #9d5cd0;
    outline: none;
   }
   
   .swiper-button-next:active, .swiper-button-prev:active {
    border: 2px solid #d1a9f0;
    background-color: #7943a4;
    outline: none;
   }
   
   .swiper-button-prev:active:after, .swiper-button-next:active:after, .swiper-button-prev:hover:after, .swiper-button-next:hover:after {
    font-size: smaller;
    color: #ffffff;
   }
   
   .swiper-slide:focus {
    border: 3px solid #7943A4;
    box-sizing: border-box;
    outline: none;
   }
   
   .swiper-slide--hover:focus, .slide-icon:focus {
    visibility: hidden;
   }
   
   .swiper-slide--hover {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 25px;
    left: 25px;
    opacity: 0;
    transition: .3s ease;
    background-color: #000;
   }
   
   .slide-icon {
    position: absolute;
    top: 102px;
    left: 110px;
    background-image: url(../img/gallery/swipericon.svg);
    width: 81px;
    height: 79px;
    opacity: 0;
   }
   
   .swiper-slide:hover {
    border: none;
   }
   
   .swiper-slide:hover .swiper-slide--hover {
    opacity: 0.5;
   }
   
   .swiper-slide:hover .slide-icon {
    opacity: 1;
   }
   
   div.swiper-slide:active {
    border: 2px solid #D1A9F0;
   }
   
   .swiper-slide--active {
    background: -webkit-linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    background: -moz-linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    background: -o-linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    opacity: 0;
   }
   
   .swiper-slide:active .swiper-slide--active {
    opacity: 1;
   }
   /*catalog*/