@media(max-width: 1919px) {
    .burger,
    .header__search {
        border: none;
        cursor: pointer;
    }
    #burger {
        cursor: pointer;
        overflow: visible;
        position: relative;
        z-index: 1;
        order: -1;
    }
    #burger span,
    #burger span:before,
    #burger span:after {
        display: block;
        background: #fff;
        position: absolute;
        opacity: 1;
        transition: 0.1s ease-out;
    }
    #burger span:before,
    #burger span:after {
        content: "";
    }
    #burger.is-active span {
        z-index: 10;
        transform: rotate(-45deg);
    }
    #burger.is-active span:before {
        top: 0px;
        transform: rotate(90deg);
    }
    #burger.is-active span:after {
        transform: rotate(90deg);
        opacity: 0;
        width: 0;
    }
    .header__logo.is-active,
    #header__search.is-active {
        opacity: 0.1;
    }
    #menu {
        z-index: 10;
        position: absolute;
        left: 0;
        width: 100%;
        color: #FFFFFF;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
    #menu.is-active {
        background-color: #000000;
        visibility: visible;
        opacity: 0.9;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav__item {
        text-align: left;
    }
    .nav__item:not(:last-child) {
        margin-right: 0;
    }
    .nav__item:nth-child(7) {
        margin-right: 0;
    }
    .header__enter {
        display: flex;
        justify-content: center;
        border: 2px solid #9D5CD0;
        border-radius: 100px;
        background-color: #000000;
        text-align: center;
        cursor: pointer;
    }
}

@media(min-width: 768px) and (max-width: 1919px) {
    .burger {
        margin-top: 36.7px;
    }
    #header__search {
        height: 36px;
        width: 26.66px;
        margin-top: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    #search__icon {
        background: #000000;
        height: 28.82px;
        width: 29.45px;
        background: #000000;
    }
    #search__icon::before {
        content: url("../img/icons/search768.svg");
        color: #ffffff;
    }
    #burger {
        width: 36px;
        height: 28px;
    }
    #burger span,
    #burger span:before,
    #burger span:after {
        height: 3.65px;
        display: block;
        background: #fff;
        position: absolute;
        opacity: 1;
        transition: 0.1s ease-out;
    }
    #burger span {
        right: 0px;
        top: 13px;
        width: 28px;
    }
    #burger span:before {
        left: 0px;
        top: -10px;
        width: 36px;
    }
    #burger span:after {
        left: 0px;
        top: 10px;
        width: 24px;
    }
    #burger.is-active span {
        z-index: 50;
        transform: rotate(-45deg);
        top: 13px;
        width: 37.28px;
    }
    #burger.is-active span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 37.28px;
    }
    #burger.is-active span:after {
        top: 0px;
        left: 0;
        transform: rotate(90deg);
        opacity: 0;
        width: 0;
    }
    .header__logo.is-active,
    .header__search.is-active {
        opacity: 0.1;
    }
    .header__nav {
        top: 100px;
        height: 668px;
    }
    .nav__list {
        padding-left: 50px;
    }
    .nav__link {
        font-weight: 600;
        font-size: 24px;
        line-height: 64px;
    }
    .nav__item:first-child,
    .nav__item:nth-child(2),
    .nav__item:nth-child(3),
    .nav__item:nth-child(4),
    .nav__item:nth-child(5),
    .nav__item:nth-child(6),
    .nav__item:nth-child(7) {
        width: 149px;
    }
    .header__enter {
        width: 257px;
        height: 60px;
    }
    .nav__item:nth-child(7) {
        margin-bottom: 107px;
    }
    .header__enter--icon {
        margin-right: 7px;
        width: 13px;
        height: 13px;
        background-size: contain;
    }
    .nav__link--small {
        font-size: 18px;
        line-height: 24.51px;
        align-self: center;
    }
}

@media (max-width: 1023px) {
    #burger.active {
        visibility: hidden;
    }
    #header__logo.active {
        visibility: hidden;
    }
}

@media(min-width: 1023px) and (max-width: 1919px) {
    #menu {
        min-width: 1024px;
    }
    #search__input {
        height: 36px;
        width: 0px;
        background: #000000;
        color: #FFF;
        border: none;
        outline: 0;
        visibility: hidden;
        transition: 0.3s;
    }
    #header__search.active {
        height: 36px;
        transform: translateX(-115px);
    }
    #search__input.active {
        margin-left: 10.55px;
        width: 218px;
        border-bottom: 1px solid #ffffff;
        visibility: visible;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #menu {
        min-width: 768px;
    }
    #search__icon--close {
        height: 29px;
        width: 29px;
        visibility: hidden;
        background: #000000;
    }
    #search__icon--close::before {
        content: url("../img/icons/search768close.svg");
        width: 29px;
        height: 29px;
        color: #ffffff;
    }
    #search__input {
        height: 36px;
        width: 0px;
        background: #000000;
        color: #FFF;
        border: none;
        outline: 0;
        visibility: hidden;
    }
    #header__search.active {
        height: 36px;
        transform: translateX(-320px);
    }
    #search__input.active {
        margin-left: 10.55px;
        width: 576px;
        border-bottom: 1px solid #ffffff;
        visibility: visible;
    }
    #search__icon--close.active {
        margin-left: 23px;
        height: 29px;
        width: 29px;
        visibility: visible;
        color: #ffffff;
        background: #000000;
        outline: none;
    }
}

@media (max-width: 767px) {
    .header.active {
        height: 75px;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(40px);
    }
    #header__search {
        height: 15px;
        width: 15px;
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    #header__search.active {
        margin-top: 38px;
        height: 16px;
        transform: translateX(-118px);
    }
    #search__icon {
        margin-right: 3px;
        width: 15px;
        height: 15px;
        background: #000000;
    }
    #search__icon:before {
        content: url("../img/icons/search320.svg");
        color: #ffffff;
    }
    #search__icon--close {
        height: 16px;
        width: 16px;
        visibility: hidden;
        background: #000000;
    }
    #search__icon--close::before {
        content: url("../img/icons/search320close.svg");
        width: 15px;
        height: 15px;
        color: #ffffff;
    }
    #search__input {
        height: 16px;
        width: 0px;
        background: #000000;
        color: #FFF;
        border: none;
        outline: 0;
        visibility: hidden;
    }
    #search__input.active {
        margin-right: 34px;
        width: 180px;
        border-bottom: 1px solid #ffffff;
        visibility: visible;
    }
    #search__icon--close.active {
        margin-top: -46px;
        margin-left: 2px;
        height: 15px;
        width: 15px;
        visibility: visible;
        color: #ffffff;
        background: #000000;
        outline: none;
    }
    .burger,
    #header__search {
        margin-top: 15px;
    }
    #burger {
        width: 20px;
        height: 15px;
    }
    #burger span,
    #burger span:before,
    #burger span:after {
        height: 1.96px;
    }
    #burger span:before,
    #burger span:after {
        content: "";
    }
    #burger span {
        right: 0px;
        top: 8px;
        width: 15.07px;
    }
    #burger span:before {
        left: 0px;
        top: -5px;
        width: 20px;
    }
    #burger span:after {
        left: 0px;
        top: 5px;
        width: 13.03px;
    }
    #burger.is-active span {
        z-index: 10;
        transform: rotate(-45deg);
        top: 8px;
        width: 19.28px;
    }
    #burger.is-active span:before {
        top: 0;
        transform: rotate(90deg);
        width: 19.28px;
    }
    #burger.is-active span:after {
        top: -5px;
        left: 0;
        transform: rotate(90deg);
        opacity: 0;
        width: 0;
    }
    .header__nav {
        top: 45px;
        height: 310px;
        min-width: 320px;
    }
    .nav__list {
        padding-left: 15px;
        padding-top: 1px;
    }
    .nav__link {
        font-size: 16px;
        line-height: 32px;
    }
    .nav__item:first-child,
    .nav__item:nth-child(2),
    .nav__item:nth-child(3),
    .nav__item:nth-child(4),
    .nav__item:nth-child(5),
    .nav__item:nth-child(6),
    .nav__item:nth-child(7) {
        width: 97px;
    }
    .nav__item:nth-child(7) {
        margin-bottom: 20px;
    }
    .header__enter {
        width: 115px;
        height: 40px;
    }
    .header__enter--icon {
        margin-top: -2px;
        margin-right: 2px;
        width: 9px;
        height: 9px;
        background-size: contain;
    }
    .nav__link--small {
        font-size: 12px;
        line-height: 16.34px;
        align-self: center;
    }
}